@{
    ViewBag.Title = "首页";
}

<h2>On-line Automatical Test</h2>

<div class="account">
    Teacher's account: teacher  Password: 111
</div>
<div>
    Student's account: zhangsan  Password: 111
</div>
