<!--Not login-->
<div id="header">
    <div id="logo"><span id="logotxt">On-line Test</span></div>
    <div id="loginmsg">
        <a href="/Home/LoginTeacher">Teacher login</a>
        <a href="/Home/LoginStudent">Student login</a>
    </div>
    <div style="clear:both;"></div>
</div>
<div id="menu">
    <ul>
        <li><a href="/Home/About">About</a></li>
        <li><a href="/Home/Index">Home page</a></li>
        <div style="clear:both;"></div>
    </ul>
</div>
