<!--Login by students-->
<div id="header">
    <div id="logo"><span id="logotxt">Online automated testing system</span></div>
    <div id="loginmsg">
        <span>@Session["LoginName"] Welcome to the online automated testing system</span>
        <a href="/Home/Logout">Log out</a>
    </div>
    <div style="clear:both;"></div>
</div>
<div id="menu">
    <ul>
        <li><a href="/Home/Index">Home page</a></li>
        <li><a href="/Students/Details/@Session["LoginID"]">My documents</a></li>
        <li><a href="/Papers/IndexStu">Online tests</a></li>
        <li><a href="/Answers/MyAnswer">My tests</a></li>
        <li><a href="/Home/About">About</a></li>
        <div style="clear:both;"></div>
    </ul>
</div>

